@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: arial, 'Microsoft Yahei', '微软雅黑';
    font-size: 16px;
}
#tab{
    width: 450px;
    background: mediumvioletred;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    -webkit-user-select: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 blue;
}
#tab thead{
    background: mediumpurple;
    height:40px;
    line-height: 40px;
    color:#fff;
    cursor: pointer;
}
#tab tbody .bg1{
    background: aquamarine;
}
#tab tbody .bg2{
    background:darkturquoise;
}