@charset "UTF-8";

body,div,table,thead,tbody,tr,th,td{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    -webkit-user-select: none;
}
.box{
    margin: 10px auto;
    padding: 20px;
    width: 400px;
    border: 1px solid #008000;

    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 #999;
}
#tab{

}
#tab thead tr{
    height: 35px;
    line-height: 35px;
    background: #008000;
    color: #fff;
}
#tab thead tr th{
    width: 100px;
}
#tab thead tr th.cursor{
    cursor: pointer;
}
#tab tbody tr{
    height: 30px;
    line-height: 30px;
}
#tab tbody tr td{
    text-align: center;
}
#tab tbody tr.bg0{

}
#tab tbody tr.bg1{
    background: #ffe470;
}