body, div, ul, li {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul, li {
    list-style: none;
}

#tal {
    margin: 10px auto 0;
    width: 500px;
}

#tal ul {
    position: relative;
    top: 1px;
}

#tal ul li {
    float: left;
    margin: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid darkgrey;
    cursor: pointer;/*以小手的形式显示*/

}

#tal ul li.select {
    background: red;
}

#tal div {
    display: none;/*隐藏文件*/
    clear: both;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #dddddd;

}

#tal div.select {
    display: block;
}


