@charset "utf-8";

body, div, table, thead, tbody, tr, th, td {
    margin: 0;
    padding: 0;
    font-family:"Microsoft Yahei", Arial, SimSun;
    font-size: 12px;
    -webkit-user-select: none;
}
.box {
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    border: 1px solid orangered;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 #999;
}
#tab thead tr {
    height: 35px;
    line-height: 35px;
    background: purple;
    color: #fff;
}

#tab thead tr th {
    width: 100px;
}

#tab thead tr th.cursor {
    cursor: pointer;
}

#tab tbody tr {
    height: 30px;
    line-height: 30px;
}

#tab tbody tr td {
    text-align: center;
   
}
#tab tbody tr.bg0 {

}
#tab tbody tr.bg1 {
    background: deeppink;
}

















