body,div,thead,tr,th,tbody,td{
    margin: 0;
    padding: 0;
   font-family: "Microsoft YaHei";
    font-size: 14px;
    -webkit-user-select: none;
}
#box{
    width: 300px;
    border: 1px solid lightslategrey;
    margin: 0 auto;
    padding: 10px;
    border-radius:10px ;
    box-shadow: 3px 3px 10px 0 #515151;
}
#tab thead tr{
    height: 35px;
    line-height: 35px;
    /*background: green;*/
    color: #fff;

}
#tab thead tr th{
    width: 100px;
    border: 1px solid greenyellow;
    background: -webkit-linear-gradient(top left,cyan,hotpink,blueviolet);

}
#tab thead tr th.cursor{
    cursor: pointer;
}
#tab thead tr th:hover{
    background:-webkit-linear-gradient(top left,green,aquamarine,orange);
}
#tab tbody tr{
    height: 35px;
    line-height: 35px;
}
#tab tbody tr td{
    text-align: center;
    border: 1px dashed blue;
    border-radius: 5px;
}
#tab tbody tr.bg1{
    background:-webkit-linear-gradient(top left,orchid,greenyellow,#ffc345);
}
#tab tbody tr.bg0{
    background: turquoise;
}