@charset "utf-8";
body,div,thead,tbody,tr,th,td{
    margin: 0;
    padding: 0;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
}
.box{
    border: 1px solid skyblue;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 3px 3px 10px 0px salmon;
    border-radius: 10px;
    background: skyblue;
}

#tab thead tr,#tab tbody tr{
    height: 35px;
    line-height: 35px;
}
#tab thead tr{
    background: rosybrown;
    color: white;
}
#tab tbody tr.bg0{

}

#tab tbody tr.bg1{
    background: darksalmon;
}

#tab thead tr th,#tab tbody tr td{
    text-align: center;
    width: 100px;
}

#tab thead tr th.cursor{
    cursor: pointer;
}
th:hover{
    background: #cccccc;
    opacity: 0.5;
}
th:active{
    background: springgreen;
}











































